
.main-content {
    height: 55vh;
    margin: -5.5rem 1.2rem 1.2rem;  
    background: var(--color-white);
    border-radius: 12px;
    padding: 1.5rem;
}

@media screen and (min-width: 768px) {
  .main-content {
    margin: 0;
  }
}

.white__space {
    background-color: var(--color-white);
    width: 100vw;
    height: 11vh;
    position: fixed;
    bottom: 0;
    z-index: -999;
}

@media screen and (min-width: 768px) {
    .white__space {
        display: none;
    }
}