
.main-content {
    max-height: 65vh;
    height: fit-content;
    margin: -5.5rem 1.2rem 1.2rem;  
    background: var(--color-white);
    border-radius: 12px;
    padding: 1.5rem;
}

@media screen and (min-width: 768px) {
  .main-container {
    width: 450px;
  }

  .main-content {
    margin: 0;
    padding: 0 1.5rem;

  }
}

.white__space {
    background-color: var(--color-white);
    width: 100vw;
    height: 11vh;
    position: fixed;
    bottom: 0;
    z-index: -999;
}

@media screen and (min-width: 768px) {
    .white__space {
        display: none;
    }
}



/*Generic styles for all steps*/
.step__heading {
  color: var(--color-primary);
}

.step__info {
  color: var(--color-grey);
}

.step__container {
  margin-top: 1rem;
}

.step__input {
  display: block;
  width: 90%;
  padding: 0.6rem;
  border: 1px solid var(--color-grey);
  border-radius: 3px;
  margin: 0.2rem 0 0.2rem;
}

.step__input::placeholder {
  color: var(--color-grey);
}
