.person__info-heading,
.person__name,
.person__email,
.person__number {
    color: var(--color-primary);
}

.person__info {
    color: var(--color-grey);
}

.person__container {
    margin-top: 1rem;
}

.person__input {
    display: block;
    width: 90%;
    padding: 0.6rem;
    border: 1px solid var(--color-grey);
    border-radius: 3px;
    margin: 0.2rem 0 0.2rem;
}

.person__input::placeholder {
    color: var(--color-grey);
}