@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --color-main-background: hsl(217, 100%, 97%);
    --color-primary: hsl(213, 96%, 18%);
    --color-white: hsl(0, 0%, 100%);
    --color-red: hsl(354, 84%, 57%);
    --color-grey: hsl(0, 0%, 75%);
    --color-purple: hsl(268, 65%, 30%);
    --color-lightgrey: hsl(231, 100%, 99%);
    --color-secondary: hsl(243, 100%, 62%);
    --color-selected-grey: hsl(229, 24%, 87%);
    --color-step-selected: hsl(206, 94%, 87%);
    font-size: 16px;

}

body {
    background-color: var(--color-main-background);
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 768px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .app {
        border-radius: 12px;
        display: flex;
        justify-content: center;
        background: var(--color-white);
        width: 75vw;
        height: 78vh;
        overflow: hidden;
        padding: 1rem;
        position: relative;
    }
}

@media screen and (min-width: 1024px) {
    .app {
        max-width: 65vw;
        width: auto;
    }
}

.btn__prev {
    background: none;
    border: 0;
    border-radius: 5px;
    color: var(--color-grey);
    width: 100px;
    height: 40px;
    position: fixed;
    left: 1.2rem;
    bottom: 1rem;
}

.btn__next {
    background: var(--color-primary);
}

.btn__summary {
    background: var(--color-secondary);
}

.btn__next, .btn__summary {
    border: 0;
    border-radius: 5px;
    color: var(--color-white);
    width: 100px;
    height: 40px;
    position: fixed;
    right: 1.2rem;
    bottom: 1rem;
    cursor: pointer;
}

.btn__next:hover {
    background: hsl(213, 72%, 25%);;
}

@media screen and (min-width: 768px) {
    .btn__prev {
        position: absolute;
        left: 40%;
        bottom: 0.8rem;
    }

    .btn__next, .btn__summary {
        position: absolute;
        right: 2.5rem;
    }
}
