.nav {
    background: url(/src/assets/bg-sidebar-mobile.svg);
    background-size: cover;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    padding-top: 1.9rem;
}

@media screen and (min-width: 768px) {
    .nav {
        background: url(/src/assets/bg-sidebar-desktop.svg);
        background-size: cover;
        border-radius: inherit;
        width: 450px;
        flex-direction: column;
        justify-content: start;
        height: -webkit-fill-available;
        color: var(--color-white);
    }

}

.nav__container-text {
    display: none;
}

@media screen and (min-width: 768px) {
    
    .nav__container {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
        padding-left: 1rem;
        }
    
        .nav__container-text {
            margin-left: 0.5rem;
            display: block;
        }
    
        .nav__container-step {
            color: var(--color-grey);
            margin-bottom: 0.2rem;
            display: block;
        }
    
        .nav__container-info {
            margin-top: 0;
        }
    
}


.step {
    width: 10px;
    height: 10px;
    border: 1.5px solid var(--color-white);
    border-radius: 100%;
    color: var(--color-white);
    padding: 12px;
    margin: 10px;
}

.selected {
    background: var(--color-step-selected);
    color: black;
    border: 0;
    padding: 13px;
}

.step-radio {
    display: none;
}
